.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* Left Panel Styles */
.leftPanel {
  background-color: #282c34;
  height: 100vh;
  width: 5rem;
}
.topContainer{
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.leftPanel-Button{
  padding: 1rem;
  cursor: pointer;
}
.leftPanel-Button:hover{
  background-color: lightblue;
}

.leftPanel-icon:hover{
  color: #4f6799;
}
.bottomContainer{
  position: absolute;
  z-index: 99999;
  padding: 0;
  bottom: 0;
}
.button-download {
  height: 90%;
  width: 45%;
  margin: auto;
  border-radius: 5px;;
  background: #444952;
  color: #a8aeb9;
  text-align: center;
}
.button-download svg {
  padding: 2em;
}

/*Canvas styles*/
.canvasButton-container{
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  margin: 0;
  position: fixed;
  padding: 0;
  z-index: 20;
}
.canvas-button{
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
  background-color: #282c34;
}
.canvas-button:hover{
  background-color: lightblue;
}

.canvas-icon:hover{
  color: #4f6799;
}