.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* Left Panel Styles */
.leftPanel {
  background-color: #282c34;
  height: 100vh;
  width: 5rem;
}
.topContainer{
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.leftPanel-Button{
  padding: 1rem;
}
.leftPanel-Button:hover{
  background-color: lightblue;
}

.leftPanel-icon:hover{
  color: #4f6799;
}
.bottomContainer{
  position: relative;
  top: 50%;
  left: -50%;
}